<h2>Login</h2>
<% if (messages.error){  %>
    <%= messages.error %>
    <% } %>
    
<form action="/login" method="post">
   
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div><br>
    <div class="password1">
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
    </div><br>
    <button type="submit" style="padding-left: 10px;">Login</button>
</form>
<a href="/register">register</a>

<style>
    body{
        text-align: center;
        background-color: springgreen;
        margin-top: 122px;
    }
    .password1{
        margin-left: -21px;
    }

</style>